<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>6_component</title>
  <script src="js/vue.js"></script>
  <script>
    Vue.component("my-counter",{
        template:`<span><input type="button" @click="change(-1)" value="-"><span>{{n}}</span><input type="button" @click="change(1)" value="+"></span>`,
        data:function(){
            return {n:1}
        },
        methods:{
            change(i){
                if(i>0){
                    this.n+=i;
                }else{
                    if(this.n==0){
                        this.n+=0
                    }else{
                        this.n+=i
                    }
                }
            }
        }
    })
  </script>
</head>
<body>
<div id="app">
    <ul @click="del">
        <li v-for="(item,index) of cart" :index="index" :key="index"><input type="checkbox" v-model="item.is_checked"> | {{item.pid}} | {{item.pname}} | ￥{{item.price.toFixed(2)}}元 | <my-counter></my-counter> | 小计：￥{{(item.price*item.count).toFixed(2)}}元 | <button>x</button></li>
    </ul>
</div>
<script>
var vm=new Vue({
  el:"#app",
  data:{
    cart:[
        {pid:1,pname:"iphone",price:10400,count:2,is_checked:false},
        {pid:1,pname:"sumsang",price:9699,count:2,is_checked:false},
        {pid:1,pname:"mi",price:4999,count:2,is_checked:false}
    ]
  },
  methods:{
    del(e){
        if(e.target.nodeName=="BUTTON"){
            var i=parseInt(e.target.parentNode.getAttribute("index"));
            this.cart.splice(i,1);
        }
    }  
  },
  watch:{

  },
  computed:{
      total(){
          return this.cart.filter(item=>item.is_checked).reduce((prev,item)=>prev+item.count*item.price,0)
      }
  }
})
</script>
</body>
</html>